.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
}

.side-menu {
  width: 260px;
  padding: 10px;
  background-color: #202123;
}

.side-menu-button {
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

.chatbox{
  flex: 1;
  background-color: #343541;
}