.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
}

.side-menu {
  width: 260px;
  padding: 10px;
  background-color: #202123;
}

.side-menu-button {
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
}

.side-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.side-menu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

.chat-box {
  flex: 1;
  background-color: #343541;
  position: relative;
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.chat-input-textarea {
  background-color: #40414f;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin: 12px;
  outline: none;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.25);
  border-color: none;
  padding: 12px;
  color: white;
  font-size: 1.2rem;
}

.chat-log {
  text-align: left;
}
.chat-message.chatgpt {
  background-color: #444654;
}
.chat-message-center {
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.avatar {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.avatar.chatgpt {
  background: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.message {
  padding-left: 40px;
  padding-right: 40px;
}

.Models {
  display: flex;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.Models select {
  background-color: #40414f;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 12px;
  font-size: 1.2rem;
  width: 100%;
}

.Models option {
  background-color: #202123;
}
